<%- include('../partials/header') %>

<div class="row" style="display: flex; justify-content: space-between; margin: 1%;">
  <% ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"].forEach(function(day) { %>
      <div class="column">
        <h2><%= day%></h1>
        <div style="text-align: center;">
          <% tasks.filter((t) => t.dayOfTheWeek === day).forEach(function(t) { %>
            <div style="display: flex; align-items: center;">
              <h5 style="margin-right: 2%;"><%= t.task%></h5>
              <form action="/tasks/<%= t._id %>?_method=DELETE" method="POST"> <button type="submit">X</button></form>
            </div>

            <% }); 
          %> 
        </div>
      </div>
    <% }); 
  %>
</div>
  
<form id="new-form" action="/tasks" method="POST">
  <label>Day:</label>
   <select name="dayOfTheWeek" title="dayOfTheWeek">
     <option value="Sunday">Sunday</option>
     <option value="Monday">Monday</option>
     <option value="Tuesday">Tuesday</option>
     <option value="Wednesday">Wednesday</option>
     <option value="Thursday">Thursday</option>
     <option value="Friday">Friday</option>
     <option value="Saturday">Saturday</option>
    </select>
  <label>Category</label>
   <select name="category" title="category">
    <option value="Work">Work</option>
    <option value="Self-Care">Self-Care</option>
    <option value="Misc">Misc</option>
   </select>
  <label>Task:</label>
   <input type="text" name="task" placeholder="Enter task name here">
  <button type="submit" value="Add Task"> Add</button>
</form>

<%- include('../partials/footer') %>