<%- include('../partials/header') %>
<h1>Your Week at a Glance</h1>
<table id="planner">
  <thead>
    <tr>
      <div class="dayCol">
        <th>Sunday</th>
      </div>
      <div class="dayCol">
        <th>Monday</th>
      </div>
      <div class="dayCol">
        <th>Tuesday</th>
      </div>
      <div class="dayCol">
        <th>Wednesday</th>
      </div>
      <div class="dayCol">
        <th>Thursday</th>
      </div>
      <div class="dayCol">
        <th>Friday</th>
      </div>
      <div class="dayCol">
        <th>Saturday</th>
      </div>
    </tr>
   </thead>
  </table>



  <% if (tasks.length) { %>
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Category</th>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach(function(t) { %>
        <tr>
          <td><form action="/tasks/<%= t._id %>?_method=DELETE" method="POST"> <button type="submit">X</button></form></td>
          <td><%= t.daysOfWeek %></td>
          <td><%= t.category %></td>
          <td><%= t.task %></td>
          <td><a href="/tasks/<%= t._id %>">DETAILS</a></td>
          
        <% }); %>
      <tr>
        <td colspan="3"></td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tasks Yet</h5>
<% } %>
  
<form id="new-form" action="/tasks" method="POST">
  <label>Day:</label>
   <select name="daysOfWeek">
     <option value="Sunday">Sunday</option>
     <option value="Monday">Monday</option>
     <option value="Tuesday">Tuesday</option>
     <option value="Wednesday">Wednesday</option>
     <option value="Thursday">Thursday</option>
     <option value="Friday">Friday</option>
     <option value="Saturday">Saturday</option>
    </select>
  <label>Category</label>
   <select name="category">
    <option value="Work">Work</option>
    <option value="Self-Care">Self-Care</option>
    <option value="Misc">Misc</option>
   </select>
  <label>Task:</label>
   <input type="text" name="task">
  <button type="submit" value="Add Task"> Add</button>
</form>





<%- include('../partials/footer') %>
