<%- include('../partials/header') %>

  <title>Tasks</title>
</head>
<body>
     <body>
  <h3><%= task.task %></h3>
  <h3>Complete: <%= task.done ? 'Yes' : 'No' %></h3>
</body>
   </body>
</html>

<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= task.title %></div>
  <div>Day: </div>
  <div><%= task.day %></div>
  






  <%- include('../partials/footer') %>