<%- include('../partials/header') %>

<section id="show-page">
  <div>Task: </div>
  <div><%= task.task %></div>
  <div>Category: </div>
  <div><%= task.category %></div>

  
</section>
<br><br><h2>Notes</h2>
<form id="add-note-form" method="POST"
  action="/tasks/<%= task._id %>/notes">
  <label>Note:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<% if (task.notes.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Note</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% task.notes.forEach(function(t) { %>
        <% total += t.rating %>
        <tr>
          <td class="note-user"><img alt="avatar" src="<%= t.userAvatar %>" referrerpolicy="no-referrer" ><%= t.userName %></td>
          <td><%= t.createdAt.toLocaleDateString() %></td>
          <td><%= t.content %></td>
          <td><%= t.rating %></td>
          <td>
            <% if (user?._id.equals(t.user)) { %>
              <form action="/notes/<%= t._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / task.notes.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Notes Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
